.body {
    margin-top: 100px;
    background-color: rgb(255, 233, 241);
}

.bodyintro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.bodyintro2 {
    background-image: url(aboutthis.png);
    background-attachment: scroll;
    background-size: cover;
    /* background-position: inherit; */
    /* background-repeat: no-repeat; */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.heading {
    margin-top: 350px;
    margin-bottom: 350px;
    text-align: center;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    width: fit-content;
    height: fit-content;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.doubleboxes {
    margin: center;
    width: 500px;
    height: 250px;
    max-width: 500px;
    background-color: rgb(153, 56, 155);
    border: 5px solid rgb(0, 0, 0);
    float: right;
    margin: 40px;
}

.text {
    margin: center;
    width: 475px;
    height: 250px;
    max-width: 500px;
    background-color: rgb(212, 164, 213);
    float: left;
    margin: 30px;
    margin-top: -250px;
    font-size: large;
    word-spacing: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.p5jsdraw {
    margin: left;
    width: 350px;
    height: 610px;
    max-width: 500px;
    background-color: rgb(153, 56, 155);
    border: 5px solid rgb(0, 0, 0);
    float: left;
    margin: 20px;
    font-size: 20px;
}

.bottom {
    margin: bottom;
    width: 1500px;
    height: 200px;
    max-width: 500px;
    background-color: rgb(80, 11, 81);
    border: 5px solid rgb(0, 0, 0);
    float: left;
    margin: 20px;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(214, 5, 47);
    text-align: center;
    font-size: 45px;
}


button {
    margin: right;
    width: 70px;
    height: 70px;
    max-width: 500px;
    background-color: rgb(248, 6, 6);
    border: 5px solid rgb(0, 0, 0);
    float: left;
    margin: 20px;
}

button:hover {
    background-color: #dfbbe4;
}

.square {
    margin: left;
    margin: bottom;
    width: 300px;
    height: 75px;
    max-width: 500px;
    background-color: rgb(232, 105, 139);
    border: 5px solid rgb(0, 0, 0);
    float: left;
    margin: 20px;
    text-align: center;
}

.long {
    margin: left;
    margin: bottom;
    width: 300px;
    height: 50px;
    max-width: 500px;
    background-color: rgb(246, 215, 246);
    border: 5px solid rgb(0, 0, 0);
    float: left;
    margin: 20px;
}

.flexbox {
    position: absolute;
    top: 800px;
    margin: 200px;
    display: flex;

}